<ion-header>
  <ion-toolbar>
    <ion-title>Seleccione medidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-accordion-group multiple="true"> -->

  <!--   <ion-accordion>

      <ion-item slot="header">
        <ion-label>Electricidad</ion-label>
      </ion-item>

      <div slot="content">
        <ion-accordion-group multiple="true" expand="inset">
          <ion-accordion toggleIcon="arrow-down">
            <ion-item slot="header">
              <ion-text>EQUIPO ELECTRICO </ion-text>
            </ion-item>

            <ion-list slot="content">
              <ion-item>
                <ion-text>Casco, zapatos, lentes y guantes dieléctricos</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
      
              <ion-item>
                <ion-text>Mangas y cubre botas</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>


              <ion-item>
                <ion-text>Botas de hule</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Tapete o tarima dieléctrica</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Escaleras de madera</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
              <ion-card-content>
                <ion-label>Subir evidencia fotografica</ion-label>
                <ion-icon slot="end" name="camera-outline"></ion-icon>
                <ion-img  src="../../../../assets/epp-electric.jpeg" ></ion-img>
              </ion-card-content>
            </ion-item>
            </ion-list>
          </ion-accordion>


          <ion-accordion toggleIcon="arrow-down">
            <ion-item slot="header">
              <ion-text>HERRAMIENTAS Y MEDIDAS DE SEGURIDAD</ion-text>
            </ion-item>

            <ion-list slot="content">
              <ion-item>
                <ion-text>Herramientas eléctricas con conexión a tierra</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
      
              <ion-item>
                <ion-text>Herramientas de mano aisladas y verificadas</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>


              <ion-item>
                <ion-text>Aislamiento, usando candados y tarjetas</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Instrumentos de medición calibrados y autorizados</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>No trabajar solo (debe haber 2 personas)</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
      
              <ion-item>
                <ion-card-content>
                  <ion-label>Subir evidencia fotografica</ion-label>
                  <ion-icon slot="end" name="camera-outline"></ion-icon>
                  <ion-img  src="../../../../assets/electrical-tools.png" ></ion-img>
                </ion-card-content>
              </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ion-accordion> -->



<!--     <ion-accordion>

      <ion-item slot="header">
        <ion-label>Soldadura , Corte </ion-label>
      </ion-item>

      <div slot="content">
        <ion-accordion-group multiple="true" expand="inset">
          <ion-accordion toggleIcon="arrow-down">
            <ion-item slot="header">
              <ion-text>EQUIPO DE PROTECCIÓN PERSONAL</ion-text>
            </ion-item>

            <ion-list slot="content">
              <ion-item>
                <ion-text>Lentes de por lo menos 6sombras</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
      
              <ion-item>
                <ion-text>Peto de carnaza</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>


              <ion-item>
                <ion-text>Guantes de manga larga</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Careta facial de 12 sombras</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
              <ion-item>
              <ion-card-content>
                <ion-label>Subir evidencia fotografica</ion-label>
                <ion-icon slot="end" name="camera-outline"></ion-icon>
                <ion-img  src="../../../../assets/epp-electric.jpeg" ></ion-img>
              </ion-card-content>
            </ion-item>
            </ion-list>
          </ion-accordion>


          <ion-accordion toggleIcon="arrow-down">
            <ion-item slot="header">
              <ion-text>CONDICIONES DEL AREA DE TRABAJO </ion-text>
            </ion-item>

            <ion-list slot="content">
              <ion-item>
                <ion-text>Area libre de material combustible</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
      
              <ion-item>
                <ion-card-content>
                  <ion-label>Subir evidencia fotografica</ion-label>
                  <ion-icon slot="end" name="camera-outline"></ion-icon>
                  <ion-img  src="../../../../assets/electrical-tools.png" ></ion-img>
                </ion-card-content>
              </ion-item>
            </ion-list>
          </ion-accordion>

          <ion-accordion toggleIcon="arrow-down">
            <ion-item slot="header">
              <ion-text>HERRAMIENTAS</ion-text>
            </ion-item>

            <ion-list slot="content">
              <ion-item>
                <ion-text>Equipo con arrestallamas</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Chispas en buenas condiciones</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Mangueras sin grietas</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Manómetro en buenas condiciones</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Regulador en buenas condiciones</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Tanques en buen estado</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Mampara antichispa</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Extintor de 6 kgs PQS, en condiciones operables</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Equipo con conexión a tierra</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
      
              <ion-item>
                <ion-card-content>
                  <ion-label>Subir evidencia fotografica</ion-label>
                  <ion-icon slot="end" name="camera-outline"></ion-icon>
                  <ion-img  src="../../../../assets/electrical-tools.png" ></ion-img>
                </ion-card-content>
              </ion-item>
            </ion-list>
          </ion-accordion>



        </ion-accordion-group>
      </div>
    </ion-accordion> -->


  <!-- </ion-accordion-group> -->
 <ion-accordion-group multiple="true">
    <ion-accordion aria-expanded="true"
    
    *ngFor="let measure of groupedMeasures | keyvalue">

      <ion-item slot="header">
        <ion-label>{{measure.key}}</ion-label>
      </ion-item>
      <div slot="content">
      <ion-list slot="content">
        <ion-item *ngFor="let itemList of measure.value.measureName" (click)="AddSelectedMeasure(itemList)">
          <ion-text>{{itemList.mandatoryMeasureDetails}} </ion-text>
          <ion-checkbox slot="end"></ion-checkbox>
        </ion-item>
      </ion-list>
    </div> 
<!-- 
      <div slot="content">
            <ion-list slot="content">
              <ion-item *ngFor="let itemList of datax | keyvalue" >
                <ion-text>{{itemList[0]}}</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
            </ion-list>
      </div> -->
    </ion-accordion>


  </ion-accordion-group>


</ion-content>

<ion-button size="full" color="secondary"  (click)="ComperMeasuresSelectedAndMandatory()">Cargar evidencias</ion-button>


<!-- 
  <ion-accordion-group multiple="true">
    <ion-accordion>

      <ion-item slot="header">
        <ion-label>Electricidad</ion-label>
      </ion-item>

      <div slot="content">
        <ion-accordion-group multiple="true" expand="inset">
          <ion-accordion toggleIcon="arrow-down">
            <ion-item slot="header">
              <ion-text>EQUIPO ELECTRICO </ion-text>
            </ion-item>

            <ion-list slot="content">
              <ion-item>
                <ion-text>Casco, zapatos, lentes y guantes dieléctricos</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
      
              <ion-item>
                <ion-text>Mangas y cubre botas</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>


              <ion-item>
                <ion-text>Botas de hule</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Tapete o tarima dieléctrica</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Escaleras de madera</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
              <ion-card-content>
                <ion-label>Subir evidencia fotografica</ion-label>
                <ion-icon slot="end" name="camera-outline"></ion-icon>
                <ion-img  src="../../../../assets/epp-electric.jpeg" ></ion-img>
              </ion-card-content>
            </ion-item>
            </ion-list>
          </ion-accordion>


          <ion-accordion toggleIcon="arrow-down">
            <ion-item slot="header">
              <ion-text>HERRAMIENTAS Y MEDIDAS DE SEGURIDAD</ion-text>
            </ion-item>

            <ion-list slot="content">
              <ion-item>
                <ion-text>Herramientas eléctricas con conexión a tierra</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
      
              <ion-item>
                <ion-text>Herramientas de mano aisladas y verificadas</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>


              <ion-item>
                <ion-text>Aislamiento, usando candados y tarjetas</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Instrumentos de medición calibrados y autorizados</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>No trabajar solo (debe haber 2 personas)</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
      
              <ion-item>
                <ion-card-content>
                  <ion-label>Subir evidencia fotografica</ion-label>
                  <ion-icon slot="end" name="camera-outline"></ion-icon>
                  <ion-img  src="../../../../assets/electrical-tools.png" ></ion-img>
                </ion-card-content>
              </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </ion-accordion>



    <ion-accordion>

      <ion-item slot="header">
        <ion-label>Soldadura , Corte </ion-label>
      </ion-item>

      <div slot="content">
        <ion-accordion-group multiple="true" expand="inset">
          <ion-accordion toggleIcon="arrow-down">
            <ion-item slot="header">
              <ion-text>EQUIPO DE PROTECCIÓN PERSONAL</ion-text>
            </ion-item>

            <ion-list slot="content">
              <ion-item>
                <ion-text>Lentes de por lo menos 6sombras</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
      
              <ion-item>
                <ion-text>Peto de carnaza</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>


              <ion-item>
                <ion-text>Guantes de manga larga</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Careta facial de 12 sombras</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
              <ion-item>
              <ion-card-content>
                <ion-label>Subir evidencia fotografica</ion-label>
                <ion-icon slot="end" name="camera-outline"></ion-icon>
                <ion-img  src="../../../../assets/epp-electric.jpeg" ></ion-img>
              </ion-card-content>
            </ion-item>
            </ion-list>
          </ion-accordion>


          <ion-accordion toggleIcon="arrow-down">
            <ion-item slot="header">
              <ion-text>CONDICIONES DEL AREA DE TRABAJO </ion-text>
            </ion-item>

            <ion-list slot="content">
              <ion-item>
                <ion-text>Area libre de material combustible</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
      
              <ion-item>
                <ion-card-content>
                  <ion-label>Subir evidencia fotografica</ion-label>
                  <ion-icon slot="end" name="camera-outline"></ion-icon>
                  <ion-img  src="../../../../assets/electrical-tools.png" ></ion-img>
                </ion-card-content>
              </ion-item>
            </ion-list>
          </ion-accordion>

          <ion-accordion toggleIcon="arrow-down">
            <ion-item slot="header">
              <ion-text>HERRAMIENTAS</ion-text>
            </ion-item>

            <ion-list slot="content">
              <ion-item>
                <ion-text>Equipo con arrestallamas</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Chispas en buenas condiciones</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Mangueras sin grietas</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Manómetro en buenas condiciones</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Regulador en buenas condiciones</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Tanques en buen estado</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Mampara antichispa</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Extintor de 6 kgs PQS, en condiciones operables</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text>Equipo con conexión a tierra</ion-text>
                <ion-checkbox slot="end"></ion-checkbox>
              </ion-item>
      
              <ion-item>
                <ion-card-content>
                  <ion-label>Subir evidencia fotografica</ion-label>
                  <ion-icon slot="end" name="camera-outline"></ion-icon>
                  <ion-img  src="../../../../assets/electrical-tools.png" ></ion-img>
                </ion-card-content>
              </ion-item>
            </ion-list>
          </ion-accordion>



        </ion-accordion-group>
      </div>
    </ion-accordion>


  </ion-accordion-group> -->