<ion-header>
  <ion-toolbar>
    <ion-title>modal-detalles-de-trabajo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="statusId==1">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Folio:{{workRequestId}}</ion-card-title>
        <ion-card-subtitle>Responsable: {{workSelectedDetails?.nameCompanyRes}}</ion-card-subtitle>
        <ion-card-subtitle>Estatus: {{statusName}}</ion-card-subtitle>
        <ion-card-subtitle>Agencia: {{workSelectedDetails?.agency}}</ion-card-subtitle>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Descripciòn: {{workSelectedDetails?.workDescription}}
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Capacitaciones mandatorias.</ion-card-title>   
        <ion-text>
          Antes de pasar el trabajo a ejecutar a estado "Activo", debe 
          realizar las capacitaciones asignadas, si todos los empleados
          relacionados con la actividad no toman las capacitaciones el trabajo
          no pasa a estado "Activo" y no podra hacer inicio del mismo.
        </ion-text>
        <section>
          <ion-button (click)="openModalMandatoryTrainingByWorkType()" expand="block">Capacitaciones asignadas</ion-button>
        </section>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Declaración y evidencia de signos vitales.</ion-card-title>   
        <ion-text>
          Antes de pasar el trabajo a ejecutar a estado "Activo", debe 
          realizar una grabación en tiempo real declarando que sus signos vitales
          estan en perfecto estado para ejecutar la tarea y adjuntar una fotografia
          de su apto medico con la fecha del dìa legible.
        </ion-text>
        <section>
          <ion-button (click)="openModalForRecordedVideoAndUploadEvidenceApto()" expand="block">Subir apto medico y declaración jurada</ion-button>
        </section>
      </ion-card-header>
    </ion-card>
</div>
<!-- 



<div *ngIf="statusId==2">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Folio:{{workSelectedDetails.idRequest}}</ion-card-title>
      <ion-card-subtitle>Responsable: {{workSelectedDetails.nameCompanyRes}}</ion-card-subtitle>
      <ion-card-subtitle>Estatus: {{statusName}}</ion-card-subtitle>
      <ion-card-subtitle>Agencia: {{workSelectedDetails.agency}}</ion-card-subtitle>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Descripciòn: {{workSelectedDetails.workDescription}}
    </ion-card-content>
  </ion-card>
  
</div>


<div *ngIf="statusId==3">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Folio:{{workSelectedDetails.idRequest}}</ion-card-title>
      <ion-card-subtitle>Responsable: {{workSelectedDetails.nameCompanyRes}}</ion-card-subtitle>
      <ion-card-subtitle>Estatus: {{statusName}}</ion-card-subtitle>
      <ion-card-subtitle>Agencia: {{workSelectedDetails.agency}}</ion-card-subtitle>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Descripciòn: {{workSelectedDetails.workDescription}}
    </ion-card-content>
  </ion-card>
</div>


<div *ngIf="statusId== 4 || 5">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Folio:{{workSelectedDetails.idRequest}}</ion-card-title>
      <ion-card-subtitle>Responsable: {{workSelectedDetails.nameCompanyRes}}</ion-card-subtitle>
      <ion-card-subtitle>Estatus: {{statusName}}</ion-card-subtitle>
      <ion-card-subtitle>Agencia: {{workSelectedDetails.agency}}</ion-card-subtitle>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Descripciòn: {{workSelectedDetails.workDescription}}
    </ion-card-content>
  </ion-card>
</div>

 -->
</ion-content>



