

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>


<!-- Notifications list  -->
<h3>Notificaciones recientes Unilever SHE</h3>
<ion-list class="wrapping-list">
  <ion-item *ngFor="let item of lstNotification">
    <ion-card>
      <ion-label>
        <h3>SHE: {{item.employeeUnileverName}} {{item.employeeUnileverLastName}}</h3>
        <h3>Solicitud Folio: {{item.workRequestId}}</h3>
        <div class="ion-text-wrap">
          <h3>Descripciòn: {{item.workRequestTitle}}</h3>
        </div>
        <div class="ion-text-wrap">
          <h3>Observación: {{item.comments}}</h3>
        </div>
        <p>Fecha : {{item.createdAt}}</p>
      </ion-label>
    </ion-card>
    </ion-item>
</ion-list>

</ion-content>





