
<ion-content>

  <h2>Trabajos</h2>

  <div *ngIf="userTypeLogged == 'company_manager';else company_employee">
    <ion-grid fixed>
      <ion-row>
         <ion-col size="12" *ngFor="let item of lstCounterWorksByStatus">    
  
     
          <div *ngIf="item[0].statusName != null">
            <ion-card (click)="openWorkListSelected(item[0].statusId,item[0].statusName)" >
              <ion-button expand="full"><b></b><h1>{{item[0].statusName}} - {{item[0].pendingWorks}}</h1></ion-button>
            </ion-card> 
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  

  </div>
  
  <ng-template #company_employee>
    <ion-grid fixed>
      <ion-row>
         <ion-col size="12" *ngFor="let item of lstCounterWorksByStatus">    
  
     
          <div *ngIf="item[0].statusName != null">
            <ion-card (click)="openWorkListSelected(item[0].statusId,item[0].statusName)" >
              <ion-button expand="full"><b></b><h1>{{item[0].statusName}} - {{item[0].pendingWorks}}</h1></ion-button>
            </ion-card> 
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

  


<!-- Notifications list  -->
<h3>Notificaciones recientes Unilever SHE</h3>
<ion-list class="wrapping-list">
  <ion-item *ngFor="let item of lstNotification">
    <ion-card>
      <ion-label>
        <h3>SHE: {{item.employeeUnileverName}} {{item.employeeUnileverLastName}}</h3>
        <h3>Solicitud Folio: {{item.workRequestId}}</h3>
        <div class="ion-text-wrap">
          <h3>Descripciòn: {{item.workRequestTitle}}</h3>
        </div>
        <div class="ion-text-wrap">
          <h3>Observación: {{item.comments}}</h3>
        </div>
        <p>Fecha : {{item.createdAt}}</p>
      </ion-label>
    </ion-card>
    </ion-item>
</ion-list>

</ion-content>

<div *ngIf="userTypeLogged == 'company_manager'">
  <ion-footer>
    <ion-button (click)="openPermitWorkModal()" expand="block"  color="primary">
      <h3>Nueva solicitud</h3>
    </ion-button>
  </ion-footer>
</div>




