<ion-content>

  <h2>Trabajos</h2>

  <div *ngIf="userTypeLogged == 'company_manager';else company_employee">
    <ion-grid fixed>
      <ion-row>
         <ion-col size="12" *ngFor="let item of lstCounterWorksByStatus">    
  
     
          <div *ngIf="item[0].statusName != null">
            <ion-card (click)="openWorkListSelected(item[0].statusId,item[0].statusName)" >
              <ion-button expand="full"><b></b><h1>{{item[0].statusName}} - {{item[0].pendingWorks}}</h1></ion-button>
            </ion-card> 
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  

  </div>
  
  <ng-template #company_employee>
    <ion-grid fixed>
      <ion-row>
         <ion-col size="12" *ngFor="let item of lstCounterWorksByStatus">    
  
     
          <div *ngIf="item[0].statusName != null">
            <ion-card (click)="openWorkListSelected(item[0].statusId,item[0].statusName)" >
              <ion-button expand="full"><b></b><h1>{{item[0].statusName}} - {{item[0].pendingWorks}}</h1></ion-button>
            </ion-card> 
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

  


<!-- Notifications list  -->
<h2>Notificaciones mas recientes</h2>

<ion-list>

  <ion-item>
    <ion-avatar  slot="start" style="width: 65px;height: 65px;">
      <img  src="../../../assets/app_she_icon-05.png" />
    </ion-avatar>
    <ion-label >
      <h2>Manuel Gonzalez</h2>
      <h3>Trabajo aprobado</h3>
      <p>Fecha : 06/06/2022 14:20:15</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar  slot="start" style="width: 65px;height: 65px;">
      <img  src="../../../assets/app_she_icon-05.png" />
    </ion-avatar>
    <ion-label >
      <h2>Mauricio Rodriguez</h2>
      <h3>Actividad aprobada</h3>
      <p>Fecha : 06/06/2022 14:20:15</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar  slot="start" style="width: 65px;height: 65px;">
      <img  src="../../../assets/app_she_icon-05.png" />
    </ion-avatar>
    <ion-label >
      <h2>Juan Perez</h2>
      <h3>Se reprograma la actividad</h3>
      <p>Fecha : 06/06/2022 11:20:15</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar  slot="start" style="width: 65px;height: 65px;">
      <img  src="../../../assets/app_she_icon-05.png" />
    </ion-avatar>
    <ion-label >
      <h2>Manuel Gonzalez</h2>
      <h3>Por favor asegurar el area</h3>
      <p>Fecha : 06/06/2022 14:20:15</p>
    </ion-label>
  </ion-item>

</ion-list>

</ion-content>

<div *ngIf="userTypeLogged == 'company_manager'">
  <ion-footer>
    <ion-button (click)="openPermitWorkModal()" expand="block"  color="primary">
      <h3>Nueva solicitud</h3>
    </ion-button>
  </ion-footer>
</div>




